<!-- <div class="fade-in">
  <c-card>
    <c-card-header>
      {{ title }}
      <app-docs-link href="https://github.com/coreui/coreui-icons" text="GitHub"></app-docs-link>
    </c-card-header>
    <c-card-body>
      <c-row class="text-center">
        <c-col *ngFor="let icon of icons" class="mb-5" md="3" sm="4" xl="2" xs="6">
          <svg cIcon [name]="icon[0]" [title]="icon[0]" size="3xl"></svg>
          <div>{{ toKebabCase(icon[0]) }}</div>
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</div> -->

<div>
  <!-- <button mat-raised-button color="primary" (click)="addStudent()">
      <mat-icon>add_box</mat-icon>
      Add</button> -->
  <table id="customers" style="border-collapse: collapse;">
      <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Code</th>
          <th>Update Time</th>
          <th>Status</th>
      </tr>
      <!-- <tr *ngFor="let project of projectsFake">
        <td>{{ project?.id }}</td>
        <td>{{ project?.name }}</td>
        <td>{{ project?.description }}</td>
        <td>{{ project?.code }}</td>
        <td>{{ project?.status }}</td>
        <td>{{ project?.startDate }}</td>
        <td>{{ project?.endDate }}</td>
        <td>{{ project?.updateTime }}</td> -->

      <tr *ngFor="let school of schools">
          <td>{{ school?.id }}</td>
          <td>{{ school?.name }}</td>
          <td>{{ school?.code }}</td>
          <td>{{ school?.updateTime }}</td>
          <td>{{ school?.status }}</td>
          <!-- <td><button
              (click)="openDialog(school.id);
              loadData();" class="btn btn-danger m-1">clear</button>
          </td>   -->
          <!-- <td>
              <a routerLink="/update-student/:id{{school.id}}">
                  <mat-icon style="cursor: pointer;" (click)="editStudent(student.id)">create</mat-icon>
              </a>

          </td>   -->
      </tr>
  </table>
